<div class="flex flex-col justify-center px-16 max-md:px-5 bg-white">
    <div class="flex flex-col justify-center py-4 max-md:mr-1 max-md:max-w-full">
      <div
        class="flex gap-5 justify-between w-full max-md:flex-wrap max-md:max-w-full"
      >
        <div class="flex flex-col justify-center my-auto">
          <div class="flex gap-1.5 justify-between">
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/a7aa0be5b440d657092a1cba4230d41cf6bfc8afee7a728b39366ebb71447886?apiKey=feaa3e9ad8fc4cf9a01c4fa179d8d3b3&"
              class="shrink-0 aspect-[1.1] w-[33px]"
            />
            <div class="flex gap-1 px-px py-1.5 my-auto">
              <div
                class="grow text-2xl font-extrabold tracking-tight leading-6 text-gray-800"
              >
                Travela
              </div>
              <div class="flex gap-px justify-between my-auto">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/45ee315078997d826917dbe7278ba092fa2af491e11cc4ec7f325a1485f346b7?apiKey=feaa3e9ad8fc4cf9a01c4fa179d8d3b3&"
                  class="shrink-0 aspect-[0.75] fill-zinc-700 w-[3px]"
                />
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/49917818780a23dd5da86de724082ada6a5f6bafe8a5670bb5c66bbcbd08721d?apiKey=feaa3e9ad8fc4cf9a01c4fa179d8d3b3&"
                  class="shrink-0 w-1 aspect-square fill-zinc-700"
                />
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex gap-0 self-start text-sm font-medium leading-5 text-center text-gray-800"
        >
          <div
            class="flex gap-0.5 justify-between px-4 py-2 whitespace-nowrap rounded-lg"
          >
            
          <a routerLink="/" routerLinkActive="active"  aria-current="page" [routerLinkActiveOptions]="{exact : true}">Home</a>
          </div>
          <div class="justify-center px-4 py-2 whitespace-nowrap rounded-lg">
            <a routerLink="/popularFlights" routerLinkActive="active"  aria-current="page" [routerLinkActiveOptions]="{exact : true}">Popular Flights</a>
          </div>
          <div
            class="flex gap-0.5 justify-between px-4 py-2 whitespace-nowrap rounded-lg"
          >
          <a routerLink="/customerSupport" routerLinkActive="active"  aria-current="page" [routerLinkActiveOptions]="{exact : true}">Customer Support</a>
          </div>
        </div>
        <div
          class="flex gap-4 justify-between text-sm font-medium leading-5 text-center"
        >
          <div class="flex gap-3 justify-between">
            <div
              class="justify-center px-3 py-2 text-grey-900 whitespace-nowrap bg-white rounded-lg shadow"
            >
            <a routerLink="/login" aria-current="page">Login</a>
            </div>
            <div
              class="justify-center px-3 py-2 text-white bg-[#3ba3ff] rounded-lg border border-[#3ba3ff] border-solid shadow"
            >
            <a routerLink="/signup" aria-current="page">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>